.attendance{
    width: 600rem;
    height: calc(100vh - 60rem);
    margin: 0 auto;
    padding: 50rem 0;
}

.date{
    font-size: 30rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40rem;
}

.time{
    font-size: 40rem;
    text-align: center;
    margin-bottom: 50rem;
}

.flex__attendance{
    width: 380rem;
    margin: 0 auto;
}

.btn{
    width: 150rem;
}

.btn--white{
    background-color: #fff;
    color: #000;
}